<!DOCTYPE html>
<html>
  <head>
    <title>When can I Trash?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACJ80lQU3R6Xf-s0aqSGzS84lZ3qn6Ij8&callback=initMap&libraries=places&v=weekly&map_ids=e0609e75ab711b8"
      defer
    ></script>
    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <script type="text/javascript" src="assets/json/mapstyling.json"></script>
    <script type="text/javascript" src="assets/json/boroughDict.json"></script>
    <script type="text/javascript" src="assets/json/recyclage.json"></script>
    <script type="text/javascript" src="assets/json/compost.json"></script>
    <script type="text/javascript" src="assets/json/organicwaste.json"></script>
    <script type="text/javascript" src="assets/json/greenwaste.json"></script>
    <script
      type="text/javascript"
      src="assets/json/constructionwaste.json"
    ></script>
    <script
      type="text/javascript"
      src="assets/json/constructionwaste.json"
    ></script>

    <script
      type="text/javascript"
      src="assets/json/orduremenagere.json"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <results-container>
      <div id="map"></div>
      <div id="listing">
        <table id="resultsTable">
          <tbody id="results"></tbody>
        </table>
      </div>
      <div id="on-load-message">
        <div id="onload-message-welcome">Welcome to</div>
        <div id="on-load-message-title">When Can I Trash in MTL?</div>
        <div id="small-icons">
          <img
            style="width: 30px"
            src="https://i.ibb.co/FsggCN7/recycle-bin.png"
            alt="cant see"
          />
          <img
            style="width: 30px"
            src="https://i.ibb.co/xHF6npG/recycle-sign.png"
            alt="cant see"
          />
          <img
            style="width: 30px"
            src="https://i.ibb.co/cLW2D9y/bone.png"
            alt="cant see"
          />
          <img
            style="width: 30px"
            src="https://i.ibb.co/KWnD9Jq/plant-root.png"
            alt="cant see"
          />
          <img
            style="width: 30px"
            src="https://i.ibb.co/CnhqR1q/autumn-leaf.png"
            alt="cant see"
          />
          <img
            style="width: 30px"
            src="https://i.ibb.co/dJxwKbh/construction-excavator.png"
            alt="cant see"
          />
        </div>
        <div id="on-load-message-data">
          Data is sourced from
          <a
            href="https://donnees.montreal.ca/ville-de-montreal/info-collectes"
            target="_blank"
            >Secteurs Info-Collectes</a
          >
          <div>under the Licence Creative Commons CC-BY 4.0.</div>
          <br />
          <div>
            Created by Christopher Dip for
            <a href="https://hackatown-2021.devpost.com/" target="_blank"
              >PolyHx Hackatown 2021</a
            >
          </div>
          <br />
          <a href="https://github.com/chrisd95" target="_blank"
            ><i style="font-size: 24px" class="fa">&#xf09b;</i></a
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <a
            href="https://www.linkedin.com/in/christopher-dip-7436921bb/"
            target="_blank"
            ><i style="font-size: 24px" class="fa">&#xf0e1;</i></a
          >
        </div>
        <div id="close-button">&#10006;</div>
      </div>
      <div id="borough-container"></div>
      <div id="borough-container-right"></div>
      <div id="info-collect-container"></div>

      <div id="garbage-picker">
        <div id="garbage">
          <img
            id="garbage-img"
            style="width: 30px"
            src="https://i.ibb.co/FsggCN7/recycle-bin.png"
            alt="cant see"
          />
        </div>
        <div id="recycling">
          <img
            id="recycling-img"
            style="width: 30px"
            src="https://i.ibb.co/xHF6npG/recycle-sign.png"
            alt="cant see"
          />
        </div>
        <div id="compost">
          <img
            id="compost-img"
            style="width: 30px"
            src="https://i.ibb.co/cLW2D9y/bone.png"
            alt="cant see"
          />
        </div>
        <div id="organic-waste">
          <img
            id="organic-waste-img"
            style="width: 30px"
            src="https://i.ibb.co/KWnD9Jq/plant-root.png"
            alt="cant see"
          />
        </div>
        <div id="green-waste">
          <img
            style="width: 30px"
            id="green-waste-img"
            src="https://i.ibb.co/CnhqR1q/autumn-leaf.png"
            alt="cant see"
          />
        </div>
        <div id="construction-waste">
          <img
            style="width: 30px"
            id="construction-waste-img"
            src="https://i.ibb.co/dJxwKbh/construction-excavator.png"
            alt="cant see"
          />
        </div>
      </div>
    </results-container>
  </body>
</html>

<script src="assets/js/resultsfromsearch.js"></script>
<!-- <div>
  Icons made by
  <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->
