#results-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: relative;
  top: 0;
  width: 80vw;
  height: 100vh;
  z-index: 1;
}
#map {
  height: 100vh;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
  font-size: 12px;
}

#map {
  width: 80vw;
}

#borough-container {
  background: transparent;
  position: absolute;
  z-index: 99;
  width: 30%;
  font-size: 2em;
  height: auto;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: white;
  font-weight: 700;
  height: 10%;
  top: 5%;
  left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#borough-container-right {
  background: transparent;
  position: absolute;
  z-index: 99;
  width: 30%;
  font-size: 2em;
  height: auto;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: white;
  font-weight: 700;
  height: 10%;
  top: 5%;
  left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#info-collect-container {
  background: #000000;
  position: absolute;
  z-index: 101;
  width: 20%;
  top: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  color: #ffffff;
  height: 100vh;
  top: 0%;
  left: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#on-load-message {
  background: black;
  position: absolute;
  z-index: 100;
  width: 40%;
  top: 0;
  opacity: 0.85;
  filter: alpha(opacity=90);
  color: #ffffff;
  height: 65%;
  top: 15%;
  left: 20%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
  font-size: 2em;
}
#onload-message-welcome {
  font-size: 0.6em;
}

#close-button {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

#on-load-message-data {
  font-size: 0.4em;
}

#garbage-picker {
  background: red;
  position: absolute;
  z-index: 101;
  opacity: 0.85;
  filter: alpha(opacity=90);
  color: #ffffff;
  height: 5%;
  bottom: 5%;
  left: 5%;
  width: 10%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#garbage {
  /* background-color: yellow; */
  width: 25%;
}

#recycling {
  /* background-color: green; */
  width: 25%;
}

#compost {
  /* background-color: blue; */
  width: 25%;
}
#organic-waste {
  /* background-color: blue; */
  width: 25%;
}
#garbage-picker img {
  opacity: 0.2;
}

#garbage-picker img:hover {
  opacity: 0.5;
}
